/* color palette http://paletton.com/#uid=2530u0k++zmAlZF+VXq+WqO+kkH */

@font-face {
	font-family: 'xprsn-menlo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Menlo-Regular.woff') format('woff');
}

body {
	margin: 0px;
	padding: 0px;
}

*:focus {
	outline: none;
}

::selection {
	color: white;
	background: #F800B4;
}

::-moz-selection {
	color: white;
	background: #F800B4;
}

#main-container {
	width: 100%;
	height: 100%;
}

/*EXPRESSION INPUT*/

#expression-input {
	position: relative;
	display: block;
	width: 95%;
	margin-left: 2.5%;
	height: 160px;
	font-family: 'Roboto Slab', Georgia, serif;
	font-size: 65px;
	border: 0;
	-webkit-appearance: none;
}

#expression-input:focus {
	color: #F800B4;
}

/*TOP CONTAINER*/
#transport-container {
	display: block;
	position: relative;
	width: 100%;
	height: 75px;
}

/*TRANPSORT*/
#transport-buttons-container {
	position: absolute;
	display: inline-block;
	margin-left: 73.5%;
	width: 85px;
	height: 75px;
}

.top-button {
	position: relative;
	width: 37px;
	height: 37px;
	top: 80%;
	border: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-80%);
	-ms-transform: translateY(-80%);
	transform: translateY(-80%);
}

.play-pause-button {
	float: left;
}

#rewind-button {
	margin-left: 5%;
	float: left;
}

#rewind-button-mousedown {
	display: none;
	margin-left: 5%;
	float: left;
}

/*TRACKLIST*/

#tracklist-container {
	position: absolute;
	width: 50%;
	left: 20%;
	top: 40px;
	height: 128px;
	font-family: 'xprsn-menlo';
}

#tracklist-container ul {
	width: 100%;
	height: 128px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tracklist-container ul li {
	display: inline-block;
	margin-right: 19px;
	font-size: 16px;
}

.current-track {
	color: #3CDE00;
	list-style-position:inside;
	border-bottom: 7px solid #3CDE00;
}

#tracklist-container ul li {
	cursor: pointer;
}



/*MIDDLE CONTAINER*/
#middle-container, #middle-overlay-container {
	position: absolute;
	top: 234px;
	bottom: 199px;
	margin-left: 18%;
	width: 64%;
	line-height:0px;
	font-size:1px;
}

#middle-overlay-container {
	z-index: -50;
}

.text-buffer, .buffer-overlay {
	display: inline-block;
	width: 27.5%;
	height: 40%;
	font-family: 'xprsn-menlo';
	color: #555555;
	font-size: 11px;
	line-height: 142%;
	border: 0;
	margin: 2.7%;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	vertical-align: top;
}

.text-buffer:focus {
	color: #F800B4;
}

.buffer-overlay {
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	justify-content: center; /* align horizontal */
	-webkit-justify-content: center;
	-moz-justify-content: center;
	align-items: center; /* align vertical */
	-webkit-align-items: center;
	-moz-align-items: center;

	overflow-y: hidden;
	overflow-x: hidden;
	
	font-family: 'Roboto Slab', Georgia, serif;
	font-size: 8vw;
	line-height: 70%;
	opacity: 0;
}

.buffer-overlay span {
	margin-bottom: 5%;
}

/*BOTTOM CONTAINER*/
#bottom-container {
	position: absolute;
	font-family: 'xprsn-menlo';
	width: 100%;
	height: 128px;
	bottom: 0;
}


/*MAP*/

#map-container {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 128px;
}

#map-container:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 7px solid black;
}

#map-container ul {
	width: 100%;
	height: 128px;
	list-style-type: none;
	line-height: 100%; /*должно изменяться с размером шрифта li (быть равным ему)*/
	margin: 0;
	padding: 0;
}

#map-container ul li {
	display: inline-block;
	/*автоматически изменять размер шрифта, если не вмещается в div*/
	font-size: 10px;
	color: #777777;
	margin-top: 0;
	margin-left: 10px;
}

.playing-symbol {
	background-color: black;
	color: white;
}
